---
import Layout from '../../layouts/Layout.astro'
import { getCollection, getEntry } from 'astro:content'
import {MarkdownInstance} from "astro";

const workshops = await Astro.glob('/../guides/*.md')

export async function getStaticPaths() {
  const workshops = await Astro.glob('/../guides/*.md')
  return workshops.map(workshop => ({
    params: { slug: workshop.file.split("/").pop().slice(0, -3) }
  }))
}

const { slug } = Astro.params
let tutorial: MarkdownInstance<any>
workshops.map(file => {
  if (file.file.endsWith(slug + ".md")) tutorial = file
}) // tutorial will never be undefined because of getStaticPaths

const {title, description, contributor, thumbnail} = tutorial.frontmatter
---

<style is:global lang="scss">
  nav {
    position: relative;
  }

  .prose {
    font-family: var(--font-serif);
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 auto;

    a {
      color: var(--primary);
    }

    article {
      margin: 0 auto;
      max-width: 50vw;
    }

    header {
      display: flex;
      position: relative;
      border: 1px solid;
      margin: 1rem;

      > div,
      > img {
        flex: 50%;
        position: relative;
      }

      > div {
        background: url('/paper.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      > img {
        border-left: 1px solid;
        max-width: 50%;
      }

      h1 {
        font-family: var(--font-sans);
        margin: 0;
      }

      p {
        margin-top: 0;
      }
    }

    img {
      max-width: 100%;
    }

    code {
      font-size: 0.995rem;
      font-family: var(--font-mono);
    }
  }

  #back {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;

    > p {
      display: flex;
      justify-content: space-between;
      font-style: italic;
      max-width: 50vw;
      margin: 1rem auto;

      a {
        text-decoration: none;
      }
    }
  }
</style>

<Layout title={title} description={description}>
  <div class="looseleaf">
    <div class="prose">
      <div id="back">
        <p>
          <a href="/workshops">&larr; Back to all workshops</a>
          <a
            href={`https://github.com/hackclub/haxidraw/edit/main/astro/src/content/workshops/${slug}.mdx`}
            target="_blank">Update/make a grammar fix</a
          >
        </p>
      </div>
      <header>
        <div>
          <h1>{title}</h1>
          <p>
            <a href={`https://github.com/${contributor}`} target="_blank"
              >@{contributor}</a
            >
          </p>
          <p>
            <a href={`/editor?tutorial=${slug}`} target="_blank"
            >Open in Haxidraw Editor</a
            >
          </p>
        </div>
        <img src={thumbnail} />
      </header>
      <article>
        <div set:html={tutorial.compiledContent()}/>
      </article>
    </div>
  </div>
</Layout>
