---
import Layout from '../layouts/Layout.astro'
import { slug } from '../lib/guide.ts'

let images = []
try {
  const list = (await Astro.glob('/../art/list.json'))[0].default
  list.forEach(folder => {
    const snapshot = folder.snapshots[0]

    images.push({
      dir: folder.directory,
      img: `https://raw.githubusercontent.com/hackclub/blot/main/art/${folder.directory}/snapshots/${snapshot}`,
      href: `/editor?src=https://raw.githubusercontent.com/hackclub/blot/main/art/${folder.directory}/${folder.source}`,
      alt: folder.directory
    })
  })
} catch (error) {
  console.log(error)
}
---

<style is:global>
  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
    font-family:
      'Phantom Sans',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      sans-serif;
  }

  .description {
    padding: 0.3rem;
    margin-left: 40px;
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
  }

  .guides-title {
    font-size: 3rem;
    font-weight: 700;
  }

  .guides-sub-title {
    font-size: 1.7rem;
    font-weight: 300;
  }

  #container {
    margin: 0 auto;
  }

  #gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #content {
    font-size: 1.1rem;
  }

  .frame {
    padding: 0;
    margin: 0.5rem;
    border: solid 15px #555;
    box-shadow: -3px -3px 12px #999;
    width: 30%;
    min-width: 300px;
    aspect-ratio: 1;
    float: left;
    margin-bottom: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s;
  }

  .frame:hover {
    transform: scale(101%);
  }

  img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #aaa;
  }

  .border {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: white;
    margin: 0;
    border: solid 10px white;
    box-shadow: -3px -3px 12px #999;
  }

  a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #ec3750;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-underline-position: under;
  }

  a:hover {
    text-decoration-style: wavy;
  }
</style>

<Layout
  title="Gallery"
  description="A gallery of various art pieces created by Hack Clubbers.">
  <div id="container">
    <div class="description">
      <div class="guides-title">Gallery</div>
      <div class="guides-sub-title">
        A gallery of various art pieces created by Hack Clubbers, with an
        interactive 3D gallery mode!
      </div>
      <div class="guides-sub-title">
        Teenagers can submit art to the gallery to get their own Blot. Guide to
        submission is <a
          href="https://github.com/hackclub/blot/blob/main/docs/GET_A_BLOT.md"
          >here</a
        >.
      </div>
    </div>
    <div id="gallery">
      {
        images.map(img => {
          return (
            <div class="frame">
              <a class="border" href={img.href}>
                <img class="thumbnail" alt={img.alt} src={img.img} />
              </a>
            </div>
          )
        })
      }
    </div>
  </div>
</Layout>
