---
import Layout from '../layouts/Layout.astro'
import Background from '../components/landing/Background.astro'
import CodeSnippet from '../components/landing/CodeSnippet.tsx'
import ThreeDModel from '../components/landing/ThreeDModel.astro'
import { slug } from '../lib/guide.ts'

const workshops = await Astro.glob('/../guides/*.md')

let curated = ['raymarching', 'mesh', 'square-disarray']
curated = curated.map(name => {
  let find = workshops.find(workshop => workshop.file.includes(name))
  return find
})
---

<style lang="scss" is:global>
  html,
  body {
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: var(--font-sans);
  }

  header,
  section {
    a {
      color: var(--primary);
      font-style: italic;
      text-decoration: none;
    }
  }

  h1 {
    font-family: var(--font-serif);
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 0.995rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    > div:nth-child(1) {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      padding: 4rem 2rem 0 2rem;
    }

    h1 {
      font-size: 4.5rem;
      letter-spacing: -3px;
      line-height: 1.1;
      margin: 0;

      a {
        font-style: normal;
      }
    }

    h3 {
      font-family: var(--font-serif);
      margin: 0.995rem 0 2rem 0;
      font-size: 2rem;
      letter-spacing: -1px;
    }

    p {
      font-size: 0.995rem;
    }
  }

  .cta {
    background-color: var(--primary);
    color: white;
    padding: 10px 30px;
    border-radius: 24px;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .code {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #cbd5e1;
    border-radius: 15px;
    background-color: white;
    position: relative;

    img {
      border-radius: 15px;
      width: 100%;
    }

    a {
      background-color: #ddd;
      border: 1px solid #cbd5e1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: inline-block;
      margin: 0 auto;
      padding: 3px 9px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-style: normal;
      color: black;
    }
  }

  section {
    display: flex;
    padding-inline: 2rem;

    h1 {
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: -2px;
      margin-bottom: 0;
    }
  }

  #howto {
    gap: 1rem;
    position: relative;

    h1 {
      max-width: 50vw;
    }

    .turtle {
      position: relative;

      .buttons {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        padding: 16px 12px;
      }

      button {
        background-color: transparent;
        border: 0;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          color: var(--primary);
        }
      }
    }

    > div {
      max-width: 50%;
    }

    .turtle {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      border: 1px solid #cbd5e1;
      background-color: white;
      max-height: 100%;
      max-width: 50%;
    }

    .youtube-video-container {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .youtube-video {
      aspect-ratio: 560/315;
      border: none;
      border-radius: 15px;
      width: 90%;
    }
  }

  #workshop-container {
    display: block;
  }

  .fade-button {
    background-color: white;
    margin-inline: -2rem;
    display: flex;
    justify-content: center;

    > a {
      background-color: var(--primary);
      border: 0;
      font-family: var(--font-sans);
      color: white;
      padding: 10px 30px;
      border-radius: 24px;
      text-decoration: none;
      font-size: 1.1rem;
      font-style: normal;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  #workshops {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;

    &::after {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      content: '';
      width: 100vw;
      height: 35%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      margin-inline: -2rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: calc(33% - 1rem);
      flex-grow: 0;
    }

    .workshop {
      cursor: pointer;
      align-self: flex-start;
      border-radius: 15px;
      border: 1px solid #cbd5e1;
      // max-width: calc(50% - 1rem);
      flex-grow: 0;
      background-color: white;
      transition: all 0.1s;
      position: relative;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid var(--primary);
      }

      img {
        max-width: 100%;
        border-radius: 15px;
      }

      > div {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 1rem;
        overflow-x: clip;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 999;

        a {
          color: inherit;
          font-style: inherit;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          margin: 0;
        }

        blockquote {
          margin-left: 0;
        }
      }
    }
  }

  #steps {
    background-color: white;
    position: relative;
  }

  #timeline {
    display: flex;
    width: 100%;
    position: relative;

    > div {
      border-top: 1px solid var(--primary);
      position: relative;
      padding: 0 2rem 2rem 2rem;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-pen-tool'%3E%3Cpath d='m12 19 7-7 3 3-7 7-3-3z'/%3E%3Cpath d='m18 13-1.5-7.5L2 2l3.5 14.5L13 18l5-5z'/%3E%3Cpath d='m2 2 7.586 7.586'/%3E%3Ccircle cx='11' cy='11' r='2'/%3E%3C/svg%3E");
        stroke-width: 1px;
        font-weight: 100;
      }

      h2:nth-child(1) {
        font-size: 2rem;
        margin-bottom: 0;
      }

      h2:nth-child(2) {
        font-family: var(--font-serif);
        font-weight: normal;
        letter-spacing: -1px;
        margin: 0;
      }
    }
  }

  footer {
    background-color: white;
    padding: 1rem;
  }

  a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #ec3750;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-underline-position: under;
  }

  a:hover {
    text-decoration-style: wavy;
  }

  .hack-club-text-box {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 0px 5px;
    background-color: #ec3750;
    border-radius: 10px;
    /*    -webkit-transform: rotate(-3deg) translateY(-5px);*/
    /*    -moz-transform: rotate(-3deg) translateY(-5px);*/
    /*    -ms-transform: rotate(-3deg) translateY(-5px);*/
    /*    transform: rotate(-3deg) translateY(-5px);*/
    color: white;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
</style>

<Layout
  title="Blot"
  description="Blot, the plotter bot from Hack Club: you code art, we send you a machine.">
  <header>
    <div>
<<<<<<< HEAD
      <div>
        <h1>
          <span style={{ color: 'var(--primary)' }}>Blot</span>, the plotter bot
        </h1>
        <h1>
          from <a href="https://hackclub.com" target="_blank">Hack Club</a>
        </h1>
        <h3>You* code art, we send you a machine.</h3>
        <div id="ctas">
          <a class="cta" href="/editor">Start making art</a>
        </div>
=======
      <h1>
        <div><span style={{ color: 'var(--primary)' }}>Blot</span>, the plotter bot</div>
        <div>from Hack Club</div>
      </h1>
      <h3>You code art, we send you a machine.</h3>

      <div id="ctas">
        <a class="cta" href="/editor">Start making art</a>
        <a class="cta" href="https://github.com/hackclub/blot" target="_blank"
          >Check out the source</a
        >
>>>>>>> ae39339863ed0b9472c2b6ed42fbd0bfa1b720c1
      </div>
      <p>*Must be &lt;20 years old to receive a free machine.</p>
    </div>
    <Background />
  </header>
  <main>
    <section id="howto">
      <div style={{ flex: '50%' }}>
        <h1>Write code, get your Blot to draw it out.</h1>
        <p>
          Blot is a plotting bot designed by people (insert something
          appropriate here) at <a href="https://hackclub.com">Hack Club</a> for
          drawing art digitally with code and then turning it into actual art.
        </p>
        <div class="code">
          <img src="/landing/code.png" />
          <a href="/editor">Check out the guide for drawing leaves</a>
        </div>
        <div class="youtube-video-container">
          <iframe
            class="youtube-video"
            src="https://www.youtube.com/embed/yxvEO-wUz2g?si=jspPdOWhnDxh_VcR"
          ></iframe>
        </div>
      </div>
      <div class="turtle">
        <ThreeDModel />
      </div>
    </section>
    <section id="workshop-container">
      <div id="workshops">
        <h1 style={{ textAlign: 'center', marginTop: 0 }}>
          Learn to make generative art with our <a href="/guides">guides</a> and
          from the community.
        </h1>
        <div>
          {
            curated.slice(0, curated.length / 3).map((workshop, idx) => (
              <div class="workshop">
                <a href={`/guide/${slug(workshop.file)}`}>
                  <img class="thumbnail" src={workshop.frontmatter.thumbnail} />
                </a>
                <div class="prose">
                  <a href={`/guide/${slug(workshop.file)}`}>
                    <h2>{workshop.frontmatter.title}</h2>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
        <div>
          {
            curated
              .slice(curated.length / 3, (curated.length / 3) * 2)
              .map((workshop, idx) => (
                <div class="workshop">
                  <a href={`/guide/${slug(workshop.file)}`}>
                    <img
                      class="thumbnail"
                      src={workshop.frontmatter.thumbnail}
                    />
                  </a>
                  <div class="prose">
                    <a href={`/guide/${slug(workshop.file)}`}>
                      <h2>{workshop.frontmatter.title}</h2>
                    </a>
                  </div>
                </div>
              ))
          }
        </div>
        <div>
          {
            curated.slice((curated.length / 3) * 2).map((workshop, idx) => (
              <div class="workshop">
                <a href={`/guide/${slug(workshop.file)}`}>
                  <img class="thumbnail" src={workshop.frontmatter.thumbnail} />
                </a>
                <div class="prose">
                  <a href={`/guide/${slug(workshop.file)}`}>
                    <h2>{workshop.frontmatter.title}</h2>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div class="fade-button">
        <a href="/guides">Check out the guides</a>
      </div>
    </section>
  </main>
  <section id="steps">
    <div>
      <p></p>
    </div>
    <div>
      <h1>
        Wait, so how do <span style={{ color: 'var(--primary)' }}>I</span> get
        one?
      </h1>
      <div id="timeline">
        <div>
          <h2>#1</h2>
          <h2>Make an original art piece</h2>
        </div>
        <div>
          <h2>#2</h2>
          <h2>
            Submit it as a pull request to the art <a href="/gallery">gallery</a
            >.
          </h2>
        </div>
        <div>
          <h2>#3</h2>
          <h2>
            Get parts for your Blot in the mail and <a href="/assembly"
              >build your own</a
            > machine.
          </h2>
        </div>
      </div>
    </div>
  </section>
  <footer>© 2023 Hack Club. 501(c)(3) nonprofit (EIN: 81-2908499)</footer>
</Layout>
