---
import Layout from '../layouts/Layout.astro'
import Background from '../components/landing/Background.astro'
import { slug } from '../lib/guide.ts'
import { MarkdownInstance } from 'astro'
import ThreeDModel from '../components/landing/ThreeDModel.astro'

const workshops = await Astro.glob('/../guides/*.md')
let curated: string[] | MarkdownInstance<Record<string, any>>[] = [
  'raymarching',
  'mesh',
  'square-disarray'
]
curated = curated.map((name: string) => {
  let find = workshops.find(workshop => workshop.file.includes(name))
  return find
})

const images = (await Astro.glob('/../art/*/snapshots/*')).map(
  img => img.default
)
---

<style lang="scss" is:global>
  @import '../ui/variables.scss';

  html,
  body {
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: var(--font-sans);
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }

  span.special {
    color: var(--primary);
  }

  header {
    display: flex;
    justify-content: space-between;

    > div:nth-child(1) {
      // Text column
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 50%;
      max-width: 50vw;
      padding: 1rem 2rem;

      > div:nth-child(2) {
        padding-top: 3rem;
        width: 100%;
      }

      h1 {
        letter-spacing: -3px;
        line-height: 1.2;

        &:nth-child(1) {
          margin-bottom: 0;
        }

        &:nth-child(2) {
          margin: 0;
        }

        @media screen and (min-width: $lg) {
          font-size: 4.5rem;
        }

        @media screen and (max-width: $lg) {
          font-size: 2rem;
        }
      }

      h3 {
        font-size: 2.5rem;
        margin: 0.5rem 0 1.1rem 0;
        letter-spacing: -1px;
      }
    }

    .cta {
      background-color: var(--primary);
      color: white !important;
      padding: 10px 30px;
      border-radius: 24px;
      border: 0;
      font-family: var(--font-sans);
      font-size: 1.5rem;
      font-style: normal;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      a {
        color: white;
      }
    }
  }

  section {
    display: flex;
  }

  #howto {
    padding: 0rem 2rem 0rem 2rem;
    gap: 1rem;
    position: relative;

    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -2px;
      margin-bottom: 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 50%;
      max-width: 50%;
    }

    .code {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #cbd5e1;
      border-radius: 15px;
      background-color: white;
      position: relative;
      max-height: 75vh;
      overflow: hidden !important;

      img {
        border-radius: 15px;
        width: 100%;
      }

      a {
        width: 100%;
        background-color: #ddd;
        border: 1px solid #cbd5e1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        margin: 0 auto;
        padding: 3px 9px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-style: normal;
        color: black;
      }
    }

    .model {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      border: 1px solid #cbd5e1;
      background-color: white;
      position: relative;
      height: 100%;
      max-height: 100%;
    }
  }

  #steps {
    display: flex;
    padding: 0rem 2rem 2rem 2rem;
    gap: 1rem;
    position: relative;
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -2px;
      margin-bottom: 0;
    }
  }

  .step {
    background-color: white;
    border: 1px solid #cbd5e1;
    display: flex;

    > div {
      h2:nth-child(1) {
        font-family: var(--font-sans);
        font-size: 2rem;
        margin-top: 0;
      }
    }

    > div:nth-child(1) {
      padding: 2rem;
      min-width: 25vw;

      h2:nth-child(1) {
        margin-bottom: 0;
      }

      h2:nth-child(2) {
        font-weight: normal;
        letter-spacing: -1px;
        margin: 0;
      }
    }

    > div:nth-child(2) {
      padding: 2rem;
      padding-bottom: 0;
    }
  }

  #step-1 {
    display: flex;
    gap: 1rem;
    position: relative;

    &::after {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      content: '';
      width: calc(100% + 2rem);
      height: 35%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
    }

    .workshop {
      cursor: pointer;
      height: 100%;
      border-radius: 15px;
      border: 1px solid #cbd5e1;
      flex: 33%;
      flex-grow: 0;
      background-color: white;
      transition: all 0.1s;
      position: relative;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid var(--primary);
      }

      img {
        max-width: 100%;
        border-radius: 15px;
      }

      .prose {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 1rem;
        overflow-x: clip;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 999;

        a {
          color: inherit;
          font-style: inherit;
        }

        h2 {
          font-size: 1.5rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          margin: 0;
        }

        blockquote {
          margin-left: 0;
        }
      }
    }
  }

  #step-2 {
    position: relative;

    &::after {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      content: '';
      height: 35%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      margin-inline: -2rem;
    }

    .frame {
      padding: 0;
      margin: 0.5rem;
      border: solid 15px #555;
      box-shadow: -3px -3px 12px #999;
      max-width: 30%;
      max-height: 30vh;
      float: left;
      margin-bottom: 1rem;
      z-index: 1;
      display: flex;
      align-items: center; /* centers vertically */
      justify-content: center; /* centers horizontally */
      overflow: hidden; /* ensures nothing overflows outside the frame */
      transition: all 0.2s;

      &:hover {
        transform: scale(101%);
      }
    }

    .thumbnail {
      max-width: 100%;
      object-fit: contain; /* ensures the image maintains aspect ratio and scales within the container */
      border: 1px solid #aaa;
    }
  }

  #step3 {
    div:nth-child(2) {
      background-color: #ddd;
      flex: 50%;
    }
  }

  #step-arrows {
    display: none;
    padding-top: calc(2rem + 2rem + 2rem);
    position: relative;
    border: 1px solid;
  }

  #arrow-1,
  #arrow-2 {
    position: absolute;
    z-index: 999;
    left: -50px;
  }

  #arrow-1 path {
    fill: var(--primary);
  }

  .fade-button {
    background-color: white;
    border: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

    > a {
      background-color: var(--primary);
      border: 0;
      font-family: var(--font-sans);
      color: white;
      padding: 10px 30px;
      border-radius: 24px;
      text-decoration: none;
      font-size: 1.1rem;
      font-style: normal;
      transition: all 0.2s;
      width: 100%;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  footer {
    padding: 1rem;
  }
</style>

<script>
  let stepArrows = document.getElementById('step-arrows')
  let stepArrowsTop = stepArrows.offsetHeight

  const spaceBetween = (a, b) => {
    let calc = a.offsetHeight + b.offsetHeight
    return `${calc}px`
  }

  const alignMiddle = (arrow, a, b) => {
    let aRect = a.getBoundingClientRect()
    let top = Math.abs(stepArrowsTop - aRect.top)
    // prettier-ignore
    arrow.style.top = `${top - a.offsetHeight / 2}px`
  }

  let step1 = document.getElementById('step1')
  let step2 = document.getElementById('step2')
  let step3 = document.getElementById('step3')

  let arrowOne = document.querySelector('#arrow-1')
  let arrowOnePath = document.querySelector('#arrow-1-path')
  let arrowOneLength = arrowOnePath.getTotalLength()
  arrowOne.style.height = spaceBetween(step1, step2)
  alignMiddle(arrowOne, step1, step2)

  let arrowTwo = document.querySelector('#arrow-2')
  let arrowTwoPath = document.querySelector('#arrow-2-path')
  let arrowTwoLength = arrowTwoPath.getTotalLength()
  arrowTwo.style.height = spaceBetween(step2, step3)
  alignMiddle(arrowTwo, step2, step3)
</script>

<Layout
  title="Blot"
  description="Blot, the plotter bot from Hack Club: you code art, we send you a machine.">
  <header>
    <div>
      <div>
        <h1>
          <span class="special">Blot</span>, the plotter bot
        </h1>
        <h1>
          from <a href="https://hackclub.com" target="_blank">Hack Club</a>
        </h1>
        <h3>You* code art, we send you a machine.</h3>
        <button class="cta">
          <a href="/editor">Start making art</a>
        </button>
      </div>
      <div>
        <p>*Must be &lt;20 years old to receive a free machine.</p>
      </div>
    </div>
    <Background />
  </header>
  <section id="howto">
    <div>
      <h1>Write <span class="special">code</span></h1>
      <div class="code">
        <img src="/landing/code.png" />
        <p>
          <a href="/editor?tutorial=cubic_disarray"
            >Check out the guide for cubic disarray</a
          >
        </p>
      </div>
    </div>
    <div>
      <h1>Get your Blot to <span class="special">draw</span> it out.</h1>
      <div class="model">
        <ThreeDModel />
      </div>
    </div>
  </section>
  <section>
    <div id="step-arrows">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="176"
        height="606"
        viewBox="0 0 176 606"
        fill="none"
        id="arrow-1">
        <path
          id="arrow-1-path"
          d="M164.402 237.464C145.609 219.379 121.216 212.878 98.3684 208.63C85.5412 206.134 72.3037 206.73 59.7525 210.368C53.1481 212.537 46.9655 215.824 41.4743 220.087C29.3831 206.559 20.8458 190.236 16.6312 172.589C13.4531 156.294 14.6072 139.449 19.9781 123.74C24.955 109.023 32.3031 95.2182 41.7318 82.8711C50.1843 71.7682 59.7365 61.5474 70.2432 52.3643C85.9692 38.8466 102.45 26.2332 119.607 14.585C131.771 6.08951 138.4 1.26262 137.886 0.619019C130.471 3.14629 123.418 6.62955 116.904 10.9809C98.3695 21.2795 80.6796 33.0296 64.0003 46.1214C38.7291 65.1318 19.1246 90.6778 7.29915 120.007C0.637555 137.54 -1.29349 156.518 1.69986 175.035C5.80596 195.085 14.8791 213.785 28.0875 229.419C28.6667 230.191 29.439 230.899 30.0826 231.671C29.8058 231.977 29.5478 232.3 29.3101 232.637C17.1824 250.272 9.88246 270.774 8.13586 292.105L6.97723 299.378C6.97723 301.824 6.65552 304.205 6.46244 306.586C6.14064 311.413 5.81881 316.176 5.43265 320.939V334.969C5.35494 339.548 5.56995 344.127 6.07629 348.678C6.46245 353.247 6.91299 357.688 7.29915 362.129C7.68531 366.57 8.65069 370.818 9.29429 375.001C9.93789 379.184 10.6459 383.497 11.5469 387.873C12.448 392.249 13.542 395.982 14.5074 399.973C21.5784 427.456 31.7256 454.055 44.7567 479.264C50.0986 490.141 55.8909 499.731 60.9753 508.612C66.0598 517.494 71.3372 525.282 76.2286 532.297C88.8261 551.141 102.947 568.921 118.449 585.458L119.8 586.874L115.295 585.523L105.126 582.626L85.8182 577.285C73.4611 574.002 62.2625 571.299 52.7373 569.24C33.7511 565.185 21.587 563.833 20.5573 566.15C19.5275 568.467 30.3399 574.067 48.232 581.21C57.178 584.75 67.9263 588.741 79.9616 592.86L98.8834 599.296L108.988 602.514C112.944 603.897 117.015 604.93 121.152 605.603C124.072 606.082 127.05 606.082 129.969 605.603C133.283 604.984 136.396 603.57 139.044 601.484C142.64 598.458 145.464 594.619 147.282 590.285C150.193 584.404 152.667 578.316 154.683 572.071C158.158 561.654 160.32 550.844 161.119 539.891C162.342 521.227 158.996 509.964 156.485 510.093C153.975 510.221 152.045 521.163 147.604 537.961C144.943 547.752 141.654 557.361 137.757 566.729C136.212 570.377 134.474 574.109 132.544 577.928L131.514 576.383C124.627 566.086 112.206 549.867 94.5712 521.999C90.1304 515.113 85.6252 507.325 80.5408 498.83C75.4564 490.334 70.4362 480.938 65.5448 470.447C53.4743 446.423 44.0027 421.18 37.2909 395.146C36.3899 391.477 35.4245 387.68 34.5235 383.818C33.6224 379.957 33.1074 376.031 32.3995 372.105C31.6915 368.179 30.8549 364.124 30.4688 360.005L29.3101 347.584C28.8089 343.312 28.5725 339.013 28.6023 334.712V321.84C28.6023 317.463 29.1172 313.087 29.439 308.646L29.8896 302.21L30.8549 295.774C31.5629 291.269 32.2065 286.763 32.9145 282.258C33.7583 277.914 34.8324 273.617 36.1325 269.386C38.2191 262.421 41.2046 255.757 45.014 249.563C53.8313 258.445 63.2922 266.876 72.9462 275.307C81.6131 282.9 91.1905 289.386 101.458 294.615C107.233 297.434 113.358 299.469 119.672 300.665C126.436 301.92 133.374 301.92 140.138 300.665C146.999 299.494 153.56 296.979 159.446 293.264C165.619 289.337 170.464 283.64 173.348 276.916C176.042 270.22 176.449 262.822 174.506 255.871C172.469 249.27 168.793 243.292 163.823 238.493L164.402 237.464ZM154.233 270.673C152.499 274.079 149.943 276.999 146.797 279.168C143.65 281.337 140.012 282.687 136.212 283.095C131.953 283.834 127.599 283.834 123.34 283.095C118.766 282.251 114.313 280.846 110.082 278.912C101.111 274.477 92.7416 268.919 85.1747 262.371C74.8771 254.069 65.03 245.573 55.9553 236.627C59.284 234.062 62.9986 232.042 66.9608 230.642C75.7963 228.131 85.0952 227.712 94.1207 229.419C99.0764 230.191 104.225 231.285 109.438 232.572C114.379 233.732 119.238 235.216 123.984 237.013C132.993 240.148 141.285 245.05 148.376 251.43C151.21 253.559 153.302 256.526 154.353 259.912C155.405 263.297 155.363 266.927 154.233 270.287"
          fill="#072333"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="176"
        height="606"
        viewBox="0 0 176 606"
        fill="none"
        id="arrow-2">
        <path
          d="M164.402 237.464C145.609 219.379 121.216 212.878 98.3684 208.63C85.5412 206.134 72.3037 206.73 59.7525 210.368C53.1481 212.537 46.9655 215.824 41.4743 220.087C29.3831 206.559 20.8458 190.236 16.6312 172.589C13.4531 156.294 14.6072 139.449 19.9781 123.74C24.955 109.023 32.3031 95.2182 41.7318 82.8711C50.1843 71.7682 59.7365 61.5474 70.2432 52.3643C85.9692 38.8466 102.45 26.2332 119.607 14.585C131.771 6.08951 138.4 1.26262 137.886 0.619019C130.471 3.14629 123.418 6.62955 116.904 10.9809C98.3695 21.2795 80.6796 33.0296 64.0003 46.1214C38.7291 65.1318 19.1246 90.6778 7.29915 120.007C0.637555 137.54 -1.29349 156.518 1.69986 175.035C5.80596 195.085 14.8791 213.785 28.0875 229.419C28.6667 230.191 29.439 230.899 30.0826 231.671C29.8058 231.977 29.5478 232.3 29.3101 232.637C17.1824 250.272 9.88246 270.774 8.13586 292.105L6.97723 299.378C6.97723 301.824 6.65552 304.205 6.46244 306.586C6.14064 311.413 5.81881 316.176 5.43265 320.939V334.969C5.35494 339.548 5.56995 344.127 6.07629 348.678C6.46245 353.247 6.91299 357.688 7.29915 362.129C7.68531 366.57 8.65069 370.818 9.29429 375.001C9.93789 379.184 10.6459 383.497 11.5469 387.873C12.448 392.249 13.542 395.982 14.5074 399.973C21.5784 427.456 31.7256 454.055 44.7567 479.264C50.0986 490.141 55.8909 499.731 60.9753 508.612C66.0598 517.494 71.3372 525.282 76.2286 532.297C88.8261 551.141 102.947 568.921 118.449 585.458L119.8 586.874L115.295 585.523L105.126 582.626L85.8182 577.285C73.4611 574.002 62.2625 571.299 52.7373 569.24C33.7511 565.185 21.587 563.833 20.5573 566.15C19.5275 568.467 30.3399 574.067 48.232 581.21C57.178 584.75 67.9263 588.741 79.9616 592.86L98.8834 599.296L108.988 602.514C112.944 603.897 117.015 604.93 121.152 605.603C124.072 606.082 127.05 606.082 129.969 605.603C133.283 604.984 136.396 603.57 139.044 601.484C142.64 598.458 145.464 594.619 147.282 590.285C150.193 584.404 152.667 578.316 154.683 572.071C158.158 561.654 160.32 550.844 161.119 539.891C162.342 521.227 158.996 509.964 156.485 510.093C153.975 510.221 152.045 521.163 147.604 537.961C144.943 547.752 141.654 557.361 137.757 566.729C136.212 570.377 134.474 574.109 132.544 577.928L131.514 576.383C124.627 566.086 112.206 549.867 94.5712 521.999C90.1304 515.113 85.6252 507.325 80.5408 498.83C75.4564 490.334 70.4362 480.938 65.5448 470.447C53.4743 446.423 44.0027 421.18 37.2909 395.146C36.3899 391.477 35.4245 387.68 34.5235 383.818C33.6224 379.957 33.1074 376.031 32.3995 372.105C31.6915 368.179 30.8549 364.124 30.4688 360.005L29.3101 347.584C28.8089 343.312 28.5725 339.013 28.6023 334.712V321.84C28.6023 317.463 29.1172 313.087 29.439 308.646L29.8896 302.21L30.8549 295.774C31.5629 291.269 32.2065 286.763 32.9145 282.258C33.7583 277.914 34.8324 273.617 36.1325 269.386C38.2191 262.421 41.2046 255.757 45.014 249.563C53.8313 258.445 63.2922 266.876 72.9462 275.307C81.6131 282.9 91.1905 289.386 101.458 294.615C107.233 297.434 113.358 299.469 119.672 300.665C126.436 301.92 133.374 301.92 140.138 300.665C146.999 299.494 153.56 296.979 159.446 293.264C165.619 289.337 170.464 283.64 173.348 276.916C176.042 270.22 176.449 262.822 174.506 255.871C172.469 249.27 168.793 243.292 163.823 238.493L164.402 237.464ZM154.233 270.673C152.499 274.079 149.943 276.999 146.797 279.168C143.65 281.337 140.012 282.687 136.212 283.095C131.953 283.834 127.599 283.834 123.34 283.095C118.766 282.251 114.313 280.846 110.082 278.912C101.111 274.477 92.7416 268.919 85.1747 262.371C74.8771 254.069 65.03 245.573 55.9553 236.627C59.284 234.062 62.9986 232.042 66.9608 230.642C75.7963 228.131 85.0952 227.712 94.1207 229.419C99.0764 230.191 104.225 231.285 109.438 232.572C114.379 233.732 119.238 235.216 123.984 237.013C132.993 240.148 141.285 245.05 148.376 251.43C151.21 253.559 153.302 256.526 154.353 259.912C155.405 263.297 155.363 266.927 154.233 270.287"
          fill="#072333"
          id="arrow-2-path"></path>
      </svg>
    </div>
    <div id="steps">
      <div>
        <h1>How do <span class="special">I</span> get one?</h1>
      </div>
      <div class="step" id="step1">
        <div>
          <h2>#1</h2>
          <h2>Make an original art piece</h2>
        </div>
        <div>
          <h2>
            Start by following along with guides from us and the community in
            our custom editor.
          </h2>
          <div id="step-1">
            {
              curated.map((workshop, idx) => (
                <div class="workshop">
                  <a href={`/guide/${slug(workshop.file)}`}>
                    <img
                      class="thumbnail"
                      src={workshop.frontmatter.thumbnail}
                    />
                  </a>
                  <div class="prose">
                    <a href={`/guide/${slug(workshop.file)}`}>
                      <h2>{workshop.frontmatter.title}</h2>
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
          <button class="fade-button">
            <a href="/guides">Check out the guides</a>
          </button>
        </div>
      </div>
      <div class="step">
        <div>
          <h2>#2</h2>
          <h2>
            Submit it as a pull request to the art <a href="/gallery">gallery</a
            >.
          </h2>
        </div>
        <div id="step-2">
          <h2>Share your art with others in the gallery.</h2>
          {
            images.slice(4, 7).map(img => (
              <div class="frame">
                <div class="border">
                  <img class="thumbnail" alt={img.directory} src={img} />
                </div>
              </div>
            ))
          }
          <button class="fade-button">
            <a href="/gallery">Check out the gallery</a>
          </button>
        </div>
      </div>
      <div class="step" id="step3">
        <div>
          <h2>#3</h2>
          <h2>
            Get parts for your Blot in the mail and <a href="/assembly"
              >build your own</a
            > machine.
          </h2>
        </div>
        <div>image of parts laid out</div>
      </div>
    </div>
  </section>
  <footer>© 2023 Hack Club. 501(c)(3) nonprofit (EIN: 81-2908499)</footer>
</Layout>
